*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* @media(max-width:400px) { */
body{
    background-color: rgb(246, 245, 245);
    text-align: center;
    box-sizing: border-box;
}
.header{
    background-color: white;
    width: 600px;
    height: 600px;
    border: 2 px solid rgba(242, 234, 234,0.564);
    margin: auto;
    border-radius: 10px;
}
h1{
    color: #1877f2;
    margin: 20px;
    font-size: 65px;
    font-weight: bold;
}
input[type=text]{
    padding: 11px;
    width: 45%;
    font-size: 16px;
    border-radius: 5px;
    margin:0px 5px 15px 5px;
    color: rgb(15, 14, 14);
    box-sizing: border-box;
    border: 2 px solid rgba(238, 233, 233, 0.93);

}
input[type=submit]{
    padding: 11px;
    width:20.33%;
    font-size: 16px;
    margin: 0px 5px 15px 5px;
    border-radius: 5px;
    border: 2 px solid rgba(238, 233, 233, 0.93);
    color: rgb(29, 26, 26);
    box-sizing: border-box;
    background-color: #1dc317ed;

}
input[type=submit]:hover{
   
    background-color:rgb(21, 124, 21);
}
input[type=password],input[type=mail]{
    padding: 11px;
    width: 93%;
    font-size: 16px;
    margin: auto;
    border-radius: 5px;
    color: rgb(29, 26, 26);
    box-sizing: border-box;
    border: 2 px solid rgba(238, 233, 233, 0.93);
}
p{
    float: left;
    margin-left: 23px;
    margin-top: 10px;
}
#kl{
    padding-left: 20px;
    margin-left: 50px;
}
#female{
    font-size: 20px;
}
.ba{
    float: left;
    width: 94%;
    margin-left: 25px;
}
.ek{
    float: left;
    width: 31.68%;
    padding:6px ;
    border: 2px solid  rgba(34, 34, 34, 0.93);
    margin: 0 px 0px 0px 0px;
    box-sizing: border-box;
    margin: 3px;
}
#date{
    padding: 8px 20px 10px 10px;
    margin: auto;
    width: 30.33%;
    font-size: 16px;
    box-sizing: border-box;
}
 }
